<ion-header>
  <ion-toolbar>
    <ion-searchbar placeholder="DESCUBRIR"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <img src="https://e0.pxfuel.com/wallpapers/927/559/desktop-wallpaper-games-shooting-games.jpg" />
          <ion-card-content>
            <h3>ACCIÓN</h3>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img src="https://sm.ign.com/ign_es/screenshot/default/wallpapersden_rasy.jpg" />
          <ion-card-content>
            <h3>AVENTURAS</h3>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <img src="https://sm.ign.com/t/ign_es/screenshot/default/wp4519264_56pw.1280.jpg" />
          <ion-card-content>
            <h3>DEPORTE</h3>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img src="https://media.vandal.net/i/640x360/8-2023/20238111540348_1.jpg" />
          <ion-card-content>
            <h3>Rol (RPG)</h3>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <img src="https://www.mundodeportivo.com/alfabeta/hero/2020/09/juegos-estrategia-pc.jpg?width=1200" />
          <ion-card-content>
            <h3>Estrategia</h3>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img src="https://cdn-images.motor.es/image/m/1320w/fotos-noticias/2020/03/recomendaciones-videojuegos-coches-202066024-1585163586_6.jpg" />
          <ion-card-content>
            <h3>Carreras</h3>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

 <!-- Botón de agregar juego (esquina izquierda, que se desplace con el scroll) -->
<ion-fab vertical="top" horizontal="start">
  <ion-fab-button class="scrolling-fab">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>


  <!-- Espaciador para que el scroll llegue hasta abajo -->
  <div style="height: 100px;"></div>

  <!-- Barra inferior con botón de inicio y amigos -->
  <div class="bottom-bar">
    <ion-button fill="clear">
      <ion-icon name="play" class="play-btn"></ion-icon>
    </ion-button>
    <ion-button fill="clear">
      <ion-icon name="people" class="friends-btn"></ion-icon>
    </ion-button>
  </div>
</ion-content>
